.debug{
    border: 2px dashed red;
}

.box{
    width: 800px;
    height: 800px;

    border: 2px solid black;

    display: flex;
    flex-wrap: wrap;
}

.cell{
    width: 10%;
    height: 10%;

    border: 1px solid black;
}